PORT=3000
MEDUSA_BACKEND_URL=https://api.notionworxcanopy.com
MEDUSA_API_KEY=
MEDUSA_ADMIN_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
AZURE_OPENAI_IMAGE_ENDPOINT=
AZURE_OPENAI_IMAGE_KEY=
AZURE_OPENAI_BASE_URL=
AZURE_OPENAI_RESPONSES_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_MODEL=
RESEND_API_KEY=
